.appWrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    "header header"
    /*"nav subheader"*/
    "nav content"
    "footer footer";
  grid-template-rows: 90px 10fr 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 5px;
  /*position: relative;*/
  height: 100vh;
}

.appContent {
  grid-area: content;
}