.appWrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    "header header"
    "nav subheader"
    "nav content"
    "footer footer";
  grid-template-rows: 1fr 0.5fr 9.5fr 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 5px;
  position: relative;
}

.appContent {
  grid-area: content;
}